{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1 class="display-4 mb-4">Jonah Palmer</h1>
                <p class="lead mb-4"><div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <p class="lead mb-4">
                I'm a Toronto-based hospitality consultant and
                sommelier who's making a career shift to the tech world. My
                fifteen-year career began as a busboy and progressed to manager
                and sommelier in many of the top restaurants in Toronto:
                <a href="https://alorestaurant.com/" target="_blank">Alo</a>,
                <a href="https://www.georgeonqueen.com/" target="_blank">
                    George Restaurant</a>, and 
                <a href="https://www.aburihana.com/" target="_blank">
                    Aburi Hana</a>, to name a few.
                I've also gotten my hands dirty, working a harvest season as
                cellar rat at one of British Colombia's most pretegious
                wineries, <a href="https://levieuxpin.ca/" target="_blank">
                    Le Vieux Pin</a>.
            </p>

            <p class="lead mb-4">   
                My tech journey has been entirely self-taught. It began with
                <a href="https://pll.harvard.edu/course/cs50-introduction-computer-science"
                    target="_blank">Harvard's CS50</a>, and from there, 
                <a href="https://www.theodinproject.com/" target="_blank">
                    The Odin Project</a>. But (despite this project) web dev
                    wasn't my thing, so I've since focused on cybersecurity,
                    earning my CompTIA Network+, studying for the Security+,
                    and participating in CTFs and various projects to come.
            </p>
        </div>
    </div>
</div>
</p>
    
                <h3 class="mb-3">Digital Skills Highlights</h3>
                <ul class="list-group mb-4">
                    <li class="list-group-item">MS Office / Google Workspace (advanced in Excel/Calc), Slack, Discord, Teams</li>
                    <li class="list-group-item">Prompt engineering: ChatGPT, GPT-4, Bing, Phind</li>
                    <li class="list-group-item">Operating Systems: Windows, Linux (Ubuntu), Mac OS, Android, iPadOS, Raspberry Pi</li>
                    <li class="list-group-item">Programming/Markup Languages: Python, Django, D3, Javascript, HTML/CSS, C</li>
                    <li class="list-group-item">Tools: Git/Github, Wireshark, Burpsuite</li>
                    <li class="list-group-item">Server administration: Linux (Ubuntu), Raspberry Pi</li>
                    <li class="list-group-item">CRM: Hubspot</li>
                    <li class="list-group-item">POS: Jonas, OpenTable, Silverware, Square, Squirrel, Tock, TouchBistro, Tuch, Volante</li>
                </ul>
    
                <h3 class="mb-3">Hospitality Career Highlights</h3>
                <ul class="list-group mb-4">
                    <li class="list-group-item">Alo (☆ Michelin), Toronto, Canada</li>
                    <li class="list-group-item">Aburi Hana (☆ Michelin), Toronto, Canada</li>
                    <li class="list-group-item">Jacobs Steakhouse, Toronto, Canada</li>
                    <li class="list-group-item">Blueblood Steakhouse, Toronto, Canada</li>
                    <li class="list-group-item">George Restaurant, Toronto, Canada</li>
                </ul>
    
                <h3 class="mb-3">Certifications and Awards</h3>
                <ul class="list-group mb-4">
                    <li class="list-group-item">CompTIA Network+</li>
                    <li class="list-group-item">Napa Valley Vintners Rising Star Somm</li>
                </ul>
    
                <h3 class="mb-3">Languages</h3>
                <ul class="list-group mb-4">
                    <li class="list-group-item">English (native)</li>
                    <li class="list-group-item">Spanish (advanced)</li>
                    <li class="list-group-item">French (basic)</li>
                    <li class="list-group-item">Russian (basic)</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}