{% extends 'base.html' %}
{% load static %}

{% block title %}Main Page Form{% endblock %}

{% block content %}
    <h1>Select Options</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
{% endblock %}