{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page Form</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}">
</head>
<body>
    <h1>Main Page Form</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <!-- Custom JavaScript code here -->
    <!-- <script>
        $(document).ready(function(){
            /* Your JavaScript code here */
        });
    </script> -->
</body>
</html>