{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Main Page Form{% endblock %}

{% block content %}
    <h1>Select Options</h1>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-3">
                <label for="{{ field.if_for_label }}" class="form-label">{{ field.label }}</label>
                {{ field|add_class:"form-control" }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
{% endblock %}