{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasting Note Display</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/swatch.css' %}">
    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body>
    <h1>Tasting Note</h1>
    <div id="swatch" style="background-color: rgb({{color_data.appearance_red}}, {{color_data.appearance_green}}, {{color_data.appearance_blue}});"></div>
    <div id="chart"></div>
    <p>{{ tasting_note }}</p>

    <h1>Your Guess</h1>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            {{ field }}
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
    <a href="{% url 'vinapp:start-over' %}">Start Over</a>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    
    <script>
        $(document).ready(function(){
            $( function() {
                $( ".autocomplete" ).each(function() {
                    const availableChoices = JSON.parse($(this).attr('data-choices'));
                    $(this).autocomplete({
                        source: availableChoices
                    });
                });
            });
        });

        let chart_data = '{{ chart_data|escapejs }}';
        if (chart_data) {
            chart_data = JSON.parse(chart_data);

            let svg = d3.select("#chart")
            .append("svg")
            .attr("width", 500)
            .attr("height", 300);

        const x = d3.scaleBand()
          .domain(Object.keys(chart_data))
          .range([0, 500]);

        const y = d3.scaleLinear()
          .domain([0, d3.max(Object.values(chart_data))])
          .range([300, 0]);
        
        svg.selectAll(".bar")
            .data(Object.entries(chart_data))
            .enter().append("rect")
            .attr("class", "bar")
            .attr("x", function(d) { return x(d[0]); })
            .attr("width", x.bandwidth())
            .attr("y", function(d) { return y(d[1]); })
            .attr("height", function(d) { return 300 - y(d[1]); });

        svg.append("g")
            .attr("transform", "translate(0," + 300 + ")")
            .call(d3.axisBottom(x));

        svg.append("g")
            .call(d3.axisLeft(y));
        } else {
            console.log("chart_data does not exist");
        }


    </script>
    
</body>
</html>