{% extends 'base.html' %}
{% load static %}

{% block title %}Tasting Note Display{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/swatch.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/chart-labels.css' %}">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src=" https://cdn.jsdelivr.net/npm/he@1.2.0/he.min.js "></script>

    <body data-chart-data="{{ chart_data|escapejs|safe }}" data-color-data="{{ color_data|safe }}">
        <h1>Tasting Note</h1>
        <div id="chart" class="d-flex justify-content-center"></div>
        <p>{{ tasting_note }}</p>

        <h1>Your Guess</h1>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                {{ field }}
            {% endfor %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <a href="{% url 'vinapp:start-over' %}" class="btn btn-primary">Start Over</a>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'js/jquery-ui.min.js' %}"></script>
        <script src="{% static 'js/helpers.js' %}"></script>

        <script>
        
            window.autocomplete()
            window.drawChart()

        </script>
    </body>
{% endblock %}