{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasting Note Display</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/swatch.css' %}">
    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body data-chart-data="{{ chart_data|escapejs|safe }}" data-color-data="{{ color_data|safe }}">
    <h1>Tasting Note</h1>
    <div id="swatch" style="background-color:
        rgb({{color_data.appearance_red}}, 
        {{color_data.appearance_green}},
        {{color_data.appearance_blue}});"></div>
    <div id="chart"></div>
    <p>{{ tasting_note }}</p>

    <h1>Your Guess</h1>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            {{ field }}
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
    <a href="{% url 'vinapp:start-over' %}">Start Over</a>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/helpers.js' %}"></script>
    <script src="{% static 'he.js' %}"></script>

    <script>
    
        window.autocomplete()
        window.drawChart()

    </script>
    
</body>
</html>